<div class="jw-modal">
    <div class="jw-modal-body">

        <div class="list-group-item text-center"><span id="friend-list-header">Friend List</span></div>
        <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                placeholder="Search by name or lastname" autocomplete="off">
        </div>
        <div class="btn-group sort-btn">
            <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by: {{sortby}}</button>
            <button (click)="sort('desc')" *ngIf="order === 'asc'" class="btn btn-primary" data-sort="none"><i class="fa fa-sort-asc"></i></button>
            <button (click)="sort('asc')" *ngIf="order === 'desc'" class="btn btn-primary" data-sort="none"><i class="fa fa-sort-desc"></i></button>
            <div class="dropdown-menu">
                <a *ngIf="sortby === 'Name'" class="dropdown-item active" role="button" tabindex="-1" data-type="alpha">Name</a>
                <a *ngIf="sortby !== 'Name'" class="dropdown-item" role="button" (click)="SortBy('Name')" tabindex="-1" data-type="alpha">Name</a>
            </div>
        </div> 
        <br>
        <div class="friend-list">
            <ul class="flex-container">

                <div class="" *ngFor="let user of friends |filter:searchText">
                    <div id="flexbox-item" class="list-group-item text-left">
                        <span class=""><strong>{{user.Name}}</strong></span>
                    </div>
                    <div id="flexbox-item" class="list-group-item text-left">
                        <span class=""><strong>{{user.Lastname}}</strong></span>
                    </div>
                    <div id="flexbox-item" class="list-group-item text-left">
                        <button (click)="btnRemoveFriend(user.Id, user)" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </ul>
        </div>
        <br>
        <div class="list-group-item text-center"><span id="friend-list-header">Add Friend</span></div>
        <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText2"
                (ngModelChange)="modelChange($event)" placeholder="Search by name or lastname" autocomplete="off">
        </div>
        <br>
        <div class="friend-list">
            <ul class="flex-container">

                <div class="flex-container" *ngFor="let user of allusers |filter:searchText2">
                    <div *ngIf="user.Id !== currentUser.id">
                        <div id="flexbox-item" class="list-group-item text-left">
                            <span class="pull-left"><strong>{{user.Name}}</strong></span>
                        </div>
                        <div id="flexbox-item" class="list-group-item text-left">
                            <span class="pull-right"><strong>{{user.Lastname}}</strong></span>
                        </div>

                        <div id="flexbox-item" class="list-group-item text-left">
                            <button (click)="btnAddFriend(user)" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </ul>
            <br>

        </div>
        <div class="list-group-item text-center"><span id="friend-list-header">Pending Requests</span></div>
        <br>
        <div class="friend-list">
            <ul class="flex-container">

                <div class="flex-container" *ngFor="let user of requestUsers">
                    <div>
                        <div id="flexbox-item" class="list-group-item text-left">
                            <span class="pull-left"><strong>{{user.Name}}</strong></span>
                        </div>
                        <div id="flexbox-item" class="list-group-item text-left">
                            <span class="pull-right"><strong>{{user.Lastname}}</strong></span>
                        </div>

                        <div id="flexbox-item" class="list-group-item text-left">
                            <button (click)="btnAcceptFriend(user.Id, user)" class="btn btn-success">Accept</button>
                        </div>
                    </div>
                </div>
            </ul>
            <br>

        </div>
        <button (click)="btnCloseClick($event)" class="btn btn-danger">Close</button>
    </div>
</div>
<div class="jw-modal-background"></div>
