<div class="container">
    <h1>
        Add new flight
    </h1>
    <form [formGroup]="angForm"  novalidate>

        <div class="form-group">
            <label>Time Ascend:</label>
            <input class="form-control" formControlName="Dtaascend" type="time">
        </div>
        <div *ngIf="angForm.controls['Dtaascend'].invalid && (angForm.controls['Dtaascend'].dirty || angForm.controls['Dtaascend'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['Dtaascend'].errors.required">
                Time Ascend is required.
            </div>
        </div>
        <div class="form-group">
            <label>Time Descend:</label>
            <input class="form-control" formControlName="Dtadescend" type="time">
        </div>
        <div *ngIf="angForm.controls['Dtadescend'].invalid && (angForm.controls['Dtadescend'].dirty || angForm.controls['Dtadescend'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['Dtadescend'].errors.required">
                Time Descend is required.
            </div>
        </div>
        <div class="form-group">
            <label>Distance:</label>
            <input class="form-control" formControlName="Distance" type="number">
        </div>
        <div *ngIf="angForm.controls['Distance'].invalid && (angForm.controls['Distance'].dirty || angForm.controls['Distance'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['Distance'].errors.required">
                Distance is required.
            </div>
        </div>
        <div class="form-group">
            <label>Ticket Price:</label>
            <input class="form-control" formControlName="Ticketprice" type="number">
        </div>
        <div *ngIf="angForm.controls['Ticketprice'].invalid && (angForm.controls['Ticketprice'].dirty || angForm.controls['Ticketprice'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['Ticketprice'].errors.required">
                Ticket Price is required.
            </div>
        </div>
        <div class="form-group">
            <label>Stops:</label>
            <ng-multiselect-dropdown [data]="dropdownList" [ngModel]="selectedItems"  [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings" (onSelect)="onSelected($event)">
            </ng-multiselect-dropdown>
            {{selectedItems | json}}
        </div>
        <button (click)="submitForm()" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
            Save
        </button>
    </form>
</div>