<!-- Header -->
<header id="rounded" class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">{{aviocompany.name}}</h1>
        <p class="lead mb-5 text-white-50">{{aviocompany.description}}</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2>What We Do</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta
        quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
        maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in
        nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.
      </p>
      <div class="col-md-8 mb-5">
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Flights
        </button>
        <hr/>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Address</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address>
      <div class="container-maps">
        <div class="container-maps-one">
          <google-map style="position: relative;" height="200px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="collapse" id="collapseExample" *ngFor="let item of aviocompany.destinations">
    <h4 class="card-title">{{item.ascenddest}} - {{item.descenddest}} <a href="#" class="btn btn-primary">Add a
        flight</a> </h4>
    <div class="row">

      <div *ngFor="let flight of item.flights" class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="row card-body">
            <div class="col-sm-6">
              <h4 class="card-title"></h4>
              <p class="card-text">{{flight.dtascend}}</p>
              <p class="card-text text-center">Ticket Price: </p>
              <p class="card-text text-center">Number of stops: </p>
              <p class="card-text text-center">Duration: </p>
              <p class="card-text text-center">Distance: </p>
              <button class="btn btn-primary" routerLink="/avioprofile/editflight/{{flight.id}}">
                Detalji
              </button>
            </div>
            <div class="col-sm-6">
              <h4 class="card-title"></h4>
              <p class="card-text">{{flight.dtdescend}}</p>
              <p class="card-text">{{flight.ticketprice}}$</p>
              <p class="card-text">{{flight.stops.length}}</p>
              <p class="card-text">{{flight.duration}}h</p>
              <p class="card-text">{{flight.distance}}km</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>