.btn-toolbar .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: blue !important;
}

.active {
    background-color: yellow;
  }

  .navbar-nav center  {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}